.main_shipping_page{
    background-color: white;
    width: 100%;
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}

.shipping_page{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    /* justify-content: center; */
}


.shipping_page_right_main_accordion{
    margin-top: 3rem;
    border-top: 1px solid rgb(229,229,229);
    border-bottom: 1px solid rgb(229,229,229);
}

.shippingInputDiv {
    margin-left: 0.8rem;
    margin-top: 1rem;
}
.shippingInput{
    width: 90%;
    height:30px;
    padding-left:0.5rem;
    margin-top:1rem;
}