.bodycarepage{
    border: 1px solid red;
    height: 2000px;
    
}

.bodycarepagedispl{
    display: flex;
}

.bodycarepageright{
    border: 1px solid blue;
    height: 2000px;
    width: 70%;
    margin-left: 2%;
}

.bodycarepageleft{
    border: 1px solid blue;
    height: 2000px;
    width: 28%;
}

.bodycarepagerighttopdiv{
    border: 1px solid black;
    height: 11%;
    width: 98%;
    margin-top: 1%;
    display: flex;
}

.allbodycare{
    border: 1px solid red;
    height: 4%;
    width: 100%;
    margin-top: 1.5%;
    text-align: left;
    border-bottom: 1px solid black;
}

/* .filtersortdiv{
    border: 1px solid black;
    height: 3%;
    width: 100%;
    margin-top: 1%;
    display: flex;
} */

.bodycareproductsdiv{
    border: 1px solid green;
    height: 75%;
    width: 99%;
    margin: 1% 1% 1% 1%;
}

.bodycareproducts1{
    border: 1px solid black;
    height: 100%;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(4,24%); 
    grid-template-rows: repeat(3,30%);
}

.bodycareproductsinside{
    /* border: 1px solid blue; */
    /* height: 95%;
    width: 23%; */
    margin: 5% 5% 5% 5%; 
    /* display: grid; */
    /* grid-template-columns: 23% 23% 23% 23%;  */
    /* grid-template-rows: 30%; */
}

.bodycareproductsinsideimg{
    /* border: 1px solid red; */
    height: 65%;
    width: 95%;
    margin: 1% 1% 1% 1%;
}

.bodycareproductsinsidead{
    /* border: 1px solid black; */
    height: 4%;
    width: 90%;
    margin: auto;
    margin-top: 0.5%;
}

.bodycareproductsinsidename{
    /* border: 1px solid blue; */
    height: 5%;
    width: 95%;
    margin: auto;
    margin-top: 0.5%;
}

.bodycareproductsinsidetype{
    /* border: 1px solid black; */
    height: 3%;
    width: 90%;
    margin: auto;
    margin-top: 0.5%;
}

.bodycareproductsinsideprice{
    /* border: 1px solid blue; */
    height: 5%;
    width: 65%;
    margin: auto;
    margin-top: 0.5%;
}

.bodycareproductsinsideaddtobag{
    /* border: 1px solid black; */
    height: 7.5%;
    width: 95%;
    margin: 0.5% 0.5% 0.5% 0.5%;
    background-color: rgb(51,51,51);
}

.bodycareproductsinsiderating{
    border: 1px solid black;
    height: 4.5%;
    width: 95%;
    margin: 0.5% 0.5% 0.5% 0.5%;
}

.bodycareproductsinsideaddtobagbtn{
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    background-color: rgb(51,51,51);
    color: rgb(242,242,242);
    font-size: 12px;
}

.bodycareproductsinsideaddtobagbtn:hover{
    background-color: rgb(242,242,242);
    color: rgb(51,51,51);
    cursor: pointer;
}

.bodycareproductsinsideimgin{
    height: 100%;
    width: 42%;
    margin: auto;
}

.bodycareproductsinsideadpara{
    height: 80%;
    width: 90%;
    margin: auto;
    font-size: 13px;
    font-style: italic;
    font-weight: 700;
    color: rgb(66,86,153);
}

.bodycareproductsinsidenamepara{
    height: 80%;
    width: 95%;
    margin: auto;
    font-size: 14px;
    font-weight: 700;
    color: rgb(51,51,51);
}

.bodycareproductsinsidetypein{
    height: 90%;
    width: 90%;
    margin: auto;
    font-size: 11px;
    font-weight: 500;
    color: rgb(103, 105, 105);
}

.bodycareproductsinsidepricein{
    height: 100%;
    width: 100%;
    margin: auto;
    font-weight: 500;
    color: rgb(51,51,51);
}

.bodycarepagerighttopdivin{
    height: 92%;
    width: 19%;
    margin: 1% 1% 1% 1%;
    /* border: 1px solid green; */
}

.bodycarepagerighttopdivin:hover{
    border: 1px solid black;
    border-radius: 5px;
}

.bodycarepagerighttopdivinimg{
    height: 80%;
    width: 100%;
    /* border: 1px solid red; */
}

.bodycarepagerighttopdivinimgin{
    height: 100%;
    width: 100%;
}

.bodycarepagerighttopdivinname{
    /* border: 1px solid black; */
    height: 18%;
    width: 98%;
    margin: 0.5% 0.5% 0.5% 0.5%;
}

.bodycarepagerighttopdivinnamein{
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 14px;
}

.homelocate{
    /* border: 1px solid black; */
    height: 1.5%;
    margin-top: 0.25%;
    margin-left: 0.25%;
}

.homelocatein{
    font-size: 10px;
    text-align: left;
}

.topoffers{
    border: 1px solid black;
    height: 1.5%;
    margin-top: 1%;
    margin-left: 1%;
}

.homeoffersin{
    height: 90%;
    width: 90%;
    font-size: 12px;
    text-align: left;
    font-weight: 500;
}

.homeoffersin:hover{
    cursor: pointer;
}

.topofferslist{
    /* border: 1px solid red; */
    height: 10%;
    margin-top: 1.5%;
    margin-left: 1%;
}

.topofferslistin{
    border: 1px solid white;
    height: 25%;
    width: 80%;
    margin-top: 2%;
}

.topofferslistinpara{
    color: rgb(51,51,51);
    font-size: 13px;
    text-align: left;
}

.topofferslistinpara:hover{
    cursor: pointer;
    color: rgb(92, 92, 243);
}

/* .filterdiv{
    border: 1px solid gray;
    height: 90%;
    width: 75%;
    background-color: rgb(242,242,242);
    display: flex;
} */

     .filterdivpara{
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    width: 80px;
    height: 30px;
    border: 1px solid red;
}
/*
.filterdivproducttype{
    border: 1px solid green;
    height: 95%;
    width: 30%;
    margin-left: 2%;
}

.sortproducthead{
    font-weight: 600;
    margin-top: 15px;
}

.sortbydiv{
    border: 1px solid green;
    height: 95%;
    width: 25%;
    margin-left: 2%;
    display: flex;
}

.sortdivproducttype{
    border: 1px solid green;
    height: 70%;
    width: 100%;
    margin-left: 2%;
    margin-top: 4%;
/*     
}

.sortdivpara{
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    width: 80px;
    font-weight: 500;
    height: 30px;
    border: 1px solid red;
} */ */

.filtersortdiv{
    border: 1px solid blue;
    height: 80%;
    margin-top: 1%;
}

.filterdiv{
    border: 1px solid green;
    height: 7%;
    margin-left: 1%;
}

.filterdivin{
    border: 1px solid black;
    height: 40px;
    text-align: left;
    margin-left: 2%;
}

.filterdivall{
    border: 1px solid green;
    height: 200px;
}

.filterpara{
    font-size: 14px;
    font-weight: 500;
}
